#todayTab,#dailyTab,#weekTab,#settingTab{
    transition: 1s;
}

#todayTab:hover{
    background-color: #007bff;;
}
#dailyTab:hover{
    background-color: #007bff;;
}
#weekTab:hover{
    background-color: #007bff;;
}
#settingTab:hover{
    background-color: #007bff;;
}
#settingIcon:hover{
    background-color: #13d17b;
}
#blockIconContainer:hover {
    background-color: #c0def0; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    border-radius: 3px; /* Add a subtle border radius on hover */
}
#blockIconContainer:active {
    background-color: #0b0b0b; /* Change the background color on hover */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    border-radius: 3px; /* Add a subtle border radius on hover */
}

.setting-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(114, 106, 149, 0.3); 
    color: black;
    transition: 1s;
    border-radius: 50%;
}

.setting-icon:hover {
    background-color: rgba(53, 31, 57, 0.5); 
    color: white;
}

.setting-icon img {
    width: 20px;
    height: 19px; 
}

.nav-link.active{
    background-color: rgba(53,31,57,0.75) !important;
    color: white !important;
}

#detailBtn,#detailBtn2{
    transition: 1s;
}

#detailBtn:hover,#detailBtn2:hover{
    color:white;
}

.card-header{
    background-color: #5ed8a1 ;
    color: #0a3622;
}

#dateSubmit{
    transition: 1s;
}

#dateSubmit:hover{
    color:white;
}
.box-collapse{
    margin-bottom: 10px;
    margin-top: 20px;
}
.table-title{
    background-color: #007bff;
}
.chart-block{
    width: 50%;
    height: 50%;
}