::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	opacity: 1;
	/* Firefox */
}

input[type=number] {
	width: 40px;
}

#newsite {
	width: 75%;
}

#newsiteadd {
	cursor: pointer;
}

th,
td {
	border-collapse: collapse;
}

table {
	border-collapse: collapse;
	width: 100%;
}

.display table {
	width: 75%;
}

td,
th {
	padding: 3px 5px;
}

#topBar {
	margin: 0px;
}

h1 {
	margin: 10px;
	font-size: 35px;
}

h1,
#settingsButton {
	display: inline;
}

#settingsButton {
	height: 43px;
	margin-top: 5px;
	margin-right: 5px;
	float: right;

	font-size: 20px;
	background: url('../images/cog.png') left center no-repeat;
	background-size: 30px;
	padding-left: 35px;
	cursor: pointer;
}


#widgetsParent {
	margin-top: 50px;
	width: 99%;
}

.widget {
	margin: 5px;
	padding: 5px;

}

#tester {
	max-width: 400px;
}

#testerinput1,
#testerinput2 {
	margin-bottom: 5px;
	width: 96.8%;
}

#testerresult {
	font-weight: bold;
}

#testerbutton {
	width: 99%;
	margin-top: 5px;
	cursor: pointer;
}

#personalMessage {
	width: 400px;
}

#personalMessage>p {
	font-size: 15px;
	text-indent: 2em;
}


/* Source: https://www.w3schools.com/howto/howto_css_overlay.asp */
#settingsChangeOverlay,
#recordEditOverlay {
	position: fixed;
	/* Sit on top of the page content */
	display: none;
	/* Hidden by default */
	width: 100%;
	/* Full width (cover the whole page) */
	/* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	/* Black background with opacity */
	z-index: 300;
	/* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer;
	/* Add a pointer on hover */

	justify-content: center;
}

.my-button-container {
	text-align: right;
}

.settingsFullsizeParent {
	padding: 5px;
	margin-top: 5px;

	font-size: 20px;
}

.settingsFullsizeParent>p {
	font-size: 12px;
}

#langPickerLabel,
#freqPickerLabel,
#colorPickerLabel {
	padding-bottom: 1px;
	margin-right: 2px;
}

#langPicker {
	margin-top: 10px;
	width: 100px;
	cursor: pointer;
}

#freqPicker {
	margin-top: 10px;
	width: 100px;
}

#colorPicker {
	margin-top: 4px;
	width: 100px;
	cursor: pointer;
}

#import,
#export,
#settingsMenuOK,
#settingsMenuCancel {
	height: 43px;
	font-size: 20px;
	cursor: pointer;

	margin-top: 5px;
	width: 49%;
	min-width: 80px;
}

#export,
#settingsMenuCancel {
	float: right;
}

#settingsMenu {
	margin-top: 5px;
	width: 100%;
	min-width: 220px;
	max-width: 440px;

	max-height: 775px;
	padding: 5px;

	cursor: default;
}




.editCell {
	padding: 0px;
}

.editButton {
	margin: 10%;
	width: 30px;
	height: 30px;
	background: url('../images/pencil.png') left center no-repeat;
	background-size: 25px;

	border-width: 0;
	cursor: pointer;
}

.deleteButton {
	margin: 10%;
	width: 30px;
	height: 30px;
	background: url('../images/delete-button.png') left center no-repeat;
	background-size: 25px;

	border-width: 0;
	cursor: pointer;
}

#recordChangeMenu {
	margin-top: 5px;
	width: 100%;
	min-width: 220px;
	max-width: 440px;

	max-height: 650px;
	padding: 1%;

	cursor: default;
}

#patternInputParent,
#softLockHoursInputParent,
#hardLockHoursInputParent,
#timeoutsInputParent,
#destinationInputParent {
	padding: 1%;
	margin-top: 5px;

	font-size: 20px;
}

#patternInput,
#softLockHoursInput,
#hardLockHoursInput,
#timeoutStringInput,
#destinationInput {
	width: 98%;
}

#timeoutsNATLabel,
#timeoutsNTOLabel,
#timeoutsSATLabel,
#timeoutsSTOLabel {
	font-size: 15px;
	float: left;
}

#timeoutsNATInput,
#timeoutsNTOInput,
#timeoutsSATInput,
#timeoutsSTOInput {
	font-size: 15px;
	float: right;
	text-align: right;
}

#destinationInput {
	width: 98%;
}

#actionInputCustomCodeArea {
	width: 98%;
}

#recordEditDelete {
	margin-top: 5px;
	width: 100%;
	min-width: 150px;

	height: 43px;
	font-size: 20px;
	cursor: pointer;
}

#recordEditOK,
#recordEditCancel {
	margin-top: 5px;
	width: 49%;
	min-width: 80px;

	height: 43px;
	font-size: 20px;
	cursor: pointer;
}

#recordEditCancel {
	float: right;
}

.hidden-div {
	display: none;
	visibility: hidden;
	position: absolute;
	/* Nếu bạn muốn giữ nguyên diện tích của phần tử, hãy thêm width và height */
	/* width: 0;
	height: 0; */
}

.popup-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	/* Giá trị z-index cao hơn */
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-item {
	margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
	font-size: 11px;
	text-transform: uppercase;
	color: #899bbd;
	font-weight: 600;
	margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: #4154f1;
	transition: 0.3;
	background: #f6f9ff;
	padding: 10px 15px;
	border-radius: 4px;
}

.sidebar-nav .nav-link i {
	font-size: 16px;
	margin-right: 10px;
	color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
	color: #012970;
	background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
	color: #899bbd;
}

.sidebar-nav .nav-link:hover {
	color: #4154f1;
	background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
	color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
	margin-right: 0;
	transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
	transform: rotate(180deg);
}

.sidebar-nav .nav-content {
	padding: 5px 0 0 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-content a {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: #012970;
	transition: 0.3;
	padding: 10px 0 10px 40px;
	transition: 0.3s;
}

.sidebar-nav .nav-content a i {
	font-size: 6px;
	margin-right: 8px;
	line-height: 0;
	border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
	color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
	background-color: #4154f1;
}